fastapi
uvicorn[standard]
openai-whisper
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchaudio
soundfile
speechbrain
pydantic
python-multipart
transformers>=4.38.0
librosa>=0.10.0
numpy
